In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorboard

In [36]:
from datetime import datetime

In [4]:
dfx = pd.read_csv('data/Train_Data.csv')
dfy = pd.read_csv('data/Traindata_classlabels.csv')

In [38]:
from tensorflow import keras

In [6]:
from tensorflow.keras import layers
from tensorflow.keras.models import Sequential

In [43]:
train_features = dfx.sample(frac=0.8, random_state=0)
test_features = dfx.drop(train_features.index)
train_labels = dfy.iloc[train_features.index]
test_labels = dfy.iloc[test_features.index]

In [44]:
normalizer = tf.keras.layers.experimental.preprocessing.Normalization(axis=-1)

In [34]:
normalizer.adapt(np.array(train_features))
first = np.array(train_features[:1])

with np.printoptions(precision=2, suppress=True):
  print('First example:', first)
  print()
  print('Normalized:', normalizer(first).numpy())

First example: [[1454.     1.     0.5    1.     1.     0.    34.     0.7   83.     4.
     3.   250.  1033.  3419.     7.     5.     5.     1.     1.     0. ]]

Normalized: [[ 0.49  1.01 -1.24  0.98 -0.76 -1.04  0.11  0.69 -1.61 -0.22 -1.14 -0.91
  -0.52  1.21 -1.25 -0.17 -1.1   0.56  0.99 -1.01]]

In [46]:
model = Sequential([
    normalizer,
    layers.Dense(64),
    layers.Dense(10),
    layers.Dense(4,activation='softmax')
    
])
model.compile( optimizer=tf.keras.optimizers.Adam(learning_rate=0.001),
    loss=tf.keras.losses.CategoricalCrossentropy(from_logits=True),
    metrics=["accuracy"])
# Loading tensorboard for visualization.
# logdir = "logs/fit/" + datetime.now().strftime("%Y%m%d-%H%M%S")
# tensorboard_callback = keras.callbacks.TensorBoard(log_dir=logdir)

epochs = 100
history = model.fit(
    train_features,train_labels, epochs=epochs, verbose=0,validation_split=0.2#,callbacks=[tensorboard_callback]
)
# model.summary()

In [48]:
test_results = model.evaluate(
    test_features, test_labels, verbose=0)
test_results

[0.0, 0.24500000476837158]

In [49]:
train_labels

      price_range
405             3
1190            0
1132            2
731             2
1754            2
...           ...
1348            0
1300            3
1308            3
470             3
1450            0

[1600 rows x 1 columns]